  {

  name mogo
  key 0123456789ABCDEF
  adapter plat:0;appid:1;packagename:2;uuid:3;client:4;operator:5;net:6;devicetype:7;adspacetype:8;category:9;area:10;ip:11;os_version:12;aw:13;ah:14;timestamp:15;sign:16;density:17;long:18;lat:19;pw:20;ph:21;devicenum:22;sdkversion:23;
}
{
  name mogo1
      key 0123456789
    adapter plat:0;appid:1;packagename:2;uuid:3;client:4;operator:5;net:6;devicetype:7;adspacetype:8;category:9;area:10;ip:11;os_version:12;aw:13;ah:14;timestamp:15;sign:16;density:17;long:18;lat:19;pw:20;ph:21;devicenum:22;sdkversion:23;
}
{
  name  
  mogo2
  key   ABCDEF
  adapter plat:0;appid:1;packagename:2;uuid:3;client:4;operator:5;net:6;devicetype:7;adspacetype:8;category:9;area:10;ip:11;os_version:12;aw:13;ah:14;timestamp:15;sign:16;density:17;long:18;lat:19;pw:20;ph:21;devicenum:22;sdkversion:23;
}


